@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* empurrar o conteúdo abaixo do header */
main, .conteudo {
  margin-top: 230px; /* 20px (.top-taxa) + 105px (.top-logo-container) */
}

/* barra superior de horário de entrega*/
.top-taxa {
    background-color: black;
    color: white;
    width: 100%;
    height: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 15px;
}

/* container para a logo e as ações */
.top-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.logo img {
    padding-left: 10px;
    width:190px;
    height: 105px;
}

.conteiner-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.conteiner-busca {
    position: relative;
    width: 270px;
}

.caixa-de-busca {
    width: 100%;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.caixa-de-busca:focus {
    border-color: #ff2727;
}

.botao-lupa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

#mensagem-erro {
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    display: none;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 300px;

}

.icon-localização {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.icon-sacola {
    margin-right: 30px;
    cursor: pointer;
}

.icon-sacola-container {
    position: relative;
    display: inline-block;
}

.contador-sacola {
    position: absolute;
    top: -5px;
    right: 6px;
    background-color: red;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    /*display: none; /* Inicialmente escondido */
}

/* Modal da sacola */
.modal-sacola {
    display: none;
    position: fixed;
    top: 0;
    padding-top: 60px;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease;
    z-index: 9999;
    font-family: "Poppins", sans-serif;
    overflow-y: auto;
  }
  
  .botao-close {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 10px;
  }
  
  .botao-close:hover {
    color: #ff0000;
  }
  
  .botoes-conteiner {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .botao-finalizar,
  .botao-esvaziar {
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .botao-finalizar {
    background-color: rgb(62, 169, 9);
    color: white;
  }
  
  .botao-esvaziar {
    background-color: rgb(232, 9, 9);
    color: white;
  }
  
  .sacola-item {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .sacola-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .sacola-detalhes {
    flex: 1;
  }
  
  .sacola-detalhes p {
    margin: 2px 0;
    font-size: 14px;
  }
  
  .quantidade-input {
    width: 60px;
    margin-top: 5px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .mensagem-erro {
  background: yellow;
  border: 1px solid red;
}

  
  .remover-produto {
    margin-top: 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
  }
  
  .remover-produto:hover {
    background-color: #c0392b;
  }
  
/* Estilo do container do formulário de finalização */
#formulario-cliente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-family: Poppins, sans-serif;
    z-index: 9999;
    display: none; /* Mantém escondido até ser ativado via JS */
  }
  
  /* Título do formulário */
  #formulario-cliente p strong {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    color: #333;
  }
  
  /* Campos de input */
  #formulario-cliente input[type="text"],
  #formulario-cliente input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  /* Botão de enviar pedido */
  #formulario-cliente #btn-enviar-pedido {
    background-color: #3ea909;
    color: #fff;
    border: none;
    padding: 12px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 8px;
  }
  
  #formulario-cliente #btn-enviar-pedido:hover {
    background-color: #318007;
  }
  
  /* Botão de cancelar formulário */
  #formulario-cliente #btn-cancelar-formulario {
    background-color: #e82929;
    color: #fff;
    border: none;
    padding: 12px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  #formulario-cliente #btn-cancelar-formulario:hover {
    background-color: #c0392b;
  }  
  
  /* Ajuste das opções de pagamento acima do formulário */
  #opcao-pagamento {
    background-color: #fff;
    padding: 20px;
    margin: 0 20px 10px;
    border-radius: 6px;
    font-family: Poppins, sans-serif;
  }
  
  #opcao-pagamento p {
    margin-bottom: 8px;
    font-weight: 500;
  }
  
  #opcao-pagamento label {
    display: inline-block;
    margin-right: 12px;
    font-size: 14px;
    cursor: pointer;
  }
  
  #opcao-pagamento input[type="radio"] {
    margin-right: 4px;
  }

.erro-campo {
  color: red;
  font-size: 0.85em;
  margin: 1px 0 1px 0;
  display: block;
}

.modal-pedido-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-pedido-content {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.modal-pedido-content p {
  margin-bottom: 15px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.modal-pedido-content button {
  margin: 0 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.modal-pedido-content button:hover {
  background-color: #555;
}

/* Navbar */
.navbar {
    background-color: #fff;
    border-top: 2px solid rgb(232, 232, 232);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 13px;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-itens {
    margin: 0 20px;
}

.menu-link {
    text-decoration: none;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
    transition: color 0.3s;
    font-family: "Poppins", serif;
}

.menu-link:hover {
    color: #ff0000;
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center center;
    transition: transform 0.3s ease;
}

.menu-link:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* ----Main---- */
.whatsapp-icon {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #0ee61d; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: pulse 1.5s infinite;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.whatsapp-icon img {
    width: 70%; 
    height: auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

.titulo {
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.titulo::before, .titulo::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 2px;
    background-color: red;
    transform: translate(-50%);
}

.titulo::before {
    left: calc(50% - 200px);  /* ajusta a linha à esquerda */
}

.titulo::after {
    right: calc(50% - 300px); /* ajusta a linha à direita */
}

.conteiner-cards {
    /*background-color: blue;*/
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 100px;
}

.card {
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
    padding: 5px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    gap: 10px; 
    margin: 30px;
}

.card img {
    width: 270px; 
    height: auto;  
    cursor: pointer;
}

.card h3 {
    color: #141414;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.card span {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.card p {
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.card button {
    background-color: rgb(187, 43, 43);
    color: rgb(239, 239, 239);
    border: none;
    width: 100px; 
    height: 30px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 15px; 
}

.card button:hover {
  background-color: rgb(164, 35, 35);
}

/*Modal para adicionar produto à sacola*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Oculta o modal */
  .modal.hidden {
    display: none;
  }
  
  /* Conteúdo do modal */
  .modal-conteudo {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
  
  /* Botão de fechar */
  .fechar-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
    color: #000000;
  }

  .fechar-modal:hover {
    transform: scale(1.00);
    color: #db1212;
  }
  
  /* Imagens do modal */
  .modal-imagens {
    text-align: center;
  }
  
  .modal-imagens img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Miniaturas */
  #miniaturas {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .miniatura {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.2s;
  }
  
  .miniatura:hover {
    transform: scale(1.05);
    border-color: #db1212;
  }
  
  /* Título, preço, seletores */
  .modal-opcoes {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-opcoes label {
    font-weight: bold;
  }
  
  .modal-opcoes select,
  .modal-opcoes input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Total */
  #modal-total {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
  }
  
  /* Botões */
  .modal-botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-botoes button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  #btn-adicionar-sacola {
    background-color: #32bb37;
    color: white;
  }
  
  #btn-cancelar-modal {
    background-color: #f44336;
    color: white;
  }

.custom-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-alert.show {
  opacity: 1;
}

.alert-pagamento {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dc3545;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.alert-pagamento.show {
  opacity: 1;
}

@media (max-width: 768px) {
  .alert-pagamento {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .alert-pagamento {
    padding: 8px 15px;
    font-size: 12px;
  }
}







  
/*----Footer----*/
.footer {
    background-color: #202020; 
    padding: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #838383;
    bottom: 0;
    width: 100%; 
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    position: relative;
    font-size: 18px;
    margin-bottom: 20px;
    color: #eeeeee;
    text-transform: uppercase;
    display: inline-block;
}


.footer-section h3::after {/* linha abaixo do título */
    content: ""; /* cria o elemento visual */
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: #ca1d1d; 
    margin: 1px auto 0; 
    
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #838383;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ff2727; 
}

.footer-divider {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.footer-copyright {
    font-size: 14px;
    color: #666;
}

