@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* barra superior de horário de entrega*/
.top-taxa {
    background-color: black;
    color: white;
    width: 100%;
    height: 23px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 15px;
}

/* container para a logo e as ações */
.top-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 10px;
    background-color: white;
}

.logo img {
    padding-left: 10px;
}

.conteiner-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.conteiner-busca {
    position: relative;
    width: 270px;
}

.caixa-de-busca {
    width: 100%;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.caixa-de-busca:focus {
    border-color: #ff2727;
}

.botao-lupa {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

#mensagem-erro {
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    display: none;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 300px;

}

.icon-localização {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.icon-sacola {
    margin-right: 30px;
    cursor: pointer;
}

/*modal da sacola*/
.modal-sacola {
    display: none;
    position: fixed;
    top: 0;
    right: -500px; /* Inicialmente, o modal está fora da tela */
    width: 500px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease; 
    z-index: 9999;
}

  
/* Estilo do botão de fechar (x) */
.botao-close {
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 10px;
}

.botao-close:hover {
    color: #ff0000;
}

.botoes-conteiner {
    margin-top: 630px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.botao-finalizar {
    background-color: rgb(62, 169, 9);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    width: 200px; 
    height: 40px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.botao-esvaziar {
    background-color: rgb(232, 9, 9);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    width: 200px; 
    height: 40px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.remover-produto {
    align-self: flex-start;
    margin-top: 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 14px;
}

.remover-produto:hover {
    background-color: #c0392b;
}



/* Navbar */
.navbar {
    background-color: #fff;
    border-top: 2px solid rgb(232, 232, 232);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-itens {
    margin: 0 20px;
}

.menu-link {
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    transition: color 0.3s;
    font-family: "Poppins", serif;
}

.menu-link:hover {
    color: #ff0000;
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center center;
    transition: transform 0.3s ease;
}

.menu-link:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* ----Main---- */
.whatsapp-icon {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #0ee61d; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: pulse 1.5s infinite;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.whatsapp-icon img {
    width: 70%; 
    height: auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

.titulo {
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.titulo::before, .titulo::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 2px;
    background-color: red;
    transform: translate(-50%);
}

.titulo::before {
    left: calc(50% - 200px);  /* ajusta a linha à esquerda */
}

.titulo::after {
    right: calc(50% - 300px); /* ajusta a linha à direita */
}

.conteiner-cards {
    /*background-color: blue;*/
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 100px;
}

.card {
    width: 250px;
    height: 410px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 10px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    gap: 10px; 
    margin: 30px;
}

.card img {
    width: 100%; 
    height: auto; 
    border-radius: 4px; 
    cursor: pointer;
}

.card h3 {
    color: #ff0000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0; /* remove margens padrão */
}

.card span {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.card p {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.card button {
    background-color: rgb(187, 43, 43);
    color: rgb(239, 239, 239);
    border: none;
    border-radius: 8px;
    width: 100%; 
    height: 40px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 15px; 
}

/*Modal para adicionar produto à sacola*/
.modal {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    gap: 40px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: #fff;
  }

  .left, .right {
    flex: 1;
  }

  .main-photo {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .thumbnail-container {
    display: flex;
    gap: 10px;
  }

  .thumbnail-container img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    border: 2px solid transparent;
    cursor: pointer;
  }

  .thumbnail-container img:hover {
    border-color: black;
  }

  .right h2 {
    font-size: 26px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
  }

  .price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }

  .right label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  .right select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .quantity {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-family: Arial;
  }

  .quantity button {
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
  }

  .quantity span {
    margin: 0 15px;
    font-size: 18px;
  }

  .buy-btn {
    width: 100%;
    padding: 12px;
    background-color: rgb(187, 43, 43);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .buy-btn:hover {
    background-color: rgb(144, 22, 22);
  }

/*----Footer----*/
.footer {
    background-color: #202020; 
    padding: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #838383;
    bottom: 0;
    width: 100%; 
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    position: relative;
    font-size: 18px;
    margin-bottom: 20px;
    color: #eeeeee;
    text-transform: uppercase;
    display: inline-block;
}


.footer-section h3::after {/* linha abaixo do título */
    content: ""; /* cria o elemento visual */
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: #ca1d1d; 
    margin: 1px auto 0; 
    
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #838383;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ff2727; 
}

.footer-divider {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.footer-copyright {
    font-size: 14px;
    color: #666;
}

